*,
*before,
*after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul,
ol,
li {
    list-style: none;
}

img {
    list-style: none;
}

input {
    list-style: none;
    padding: 0;
    margin: 0;
    border: 0;
    border: none;
    border: none;
    background-image: none;
    background-color: transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: inherit;
}

html,
body {
    position: relative;
    height: 100%;

}

body {
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    margin: 0;
    padding: 0;
    background-color: #F3F3F3;
}


.AdminEditJury {
    width: 89.5%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    align-items: flex-end;
}


.AdminEditJury__pulljury {
    width: 100%;
    height: 496px;
    overflow-y: scroll;
}


.AdminEditJury__button {
    width: 560px;
    height: 66px;
    background: #E21A1A;
    border: none;
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 42px;
    text-align: center;
    color: #FFFFFF;
    margin-right: 100px;
    margin-top: 54px;
    cursor: pointer;
}
.AdminEditJury__button:hover{
    background: #c90916;
}
@media (max-width: 1050px){
    .AdminEditJury__button{
        margin-right: 0px;
    }
    .AdminEditJury{
        align-items: center;
    }
}
@media (max-width: 760px){
    .AdminEditJury__button{
        width: 360px;
    }
    .AdminEditJury{
        padding-top: 0px;
    }
}
@media (max-width: 500px){
    .AdminEditJury{
        /* padding-top: 104px; */
    }
        .AdminEditJury__pulljury{
        height: 450px;
    }
}
@media (max-width: 460px){
    .AdminEditJury__button{
        width: 260px;
        font-size: 20px;
    }
    .AdminEditJury{
        padding-top: 0px;
        margin-top: -54px;
    }
}

