.AdminEditProjectModal {
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.4);
    transform: scale(0);
}

.AdminEditProjectModal.active {
    transform: scale(1);
}

.AdminEditProjectModal__content {
    background-color: #FFFFFF;
    width: 758px;
    height: 579px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.AdminEditProjectModal__content h1 {
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 62px;
    display: flex;
    align-items: center;
    margin: 82px 0 22px 0;
    color: #000000;
    align-self: flex-start;
}

.AdminEditProjectModal__content-regJury {
    width: 100%;
    height: 360px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.AdminEditProjectModal__content-regJury__inputs {
    width: 566px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.AdminEditProjectModal__content-regJury__inputs input {
    width: 100%;
    height: 70px;
    background: #FFFFFF;
    display: flex;
    border: none;
    margin-top: 34px;
    border-bottom: 2px solid #394A58;;
    flex-direction: column;
    align-items: center;
}

.AdminEditProjectModal__content-regJury button {
    width: 566px;
    height: 66px;
    background: #E21A1A;
    font-style: normal;
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 42px;
    text-align: center;
    color: #FFFFFF;
    border: none;
    margin-top: 65px;
}
@media (max-width: 800px){
    .AdminEditProjectModal__content{
        width: 400px;
    }
    .AdminEditProjectModal__content h1{
        font-weight: 500;
        font-size: 28px;
        justify-content: center;
    }
    .AdminEditProjectModal__content-regJury__inputs{
        width: 330px;
    }
    .AdminEditProjectModal__content-regJury button{
        width: 310px;
        font-size: 28px;
    }
}
@media (max-width: 410px){
    .AdminEditProjectModal__content{
        width: 300px;
    }
    .AdminEditProjectModal__content h1{
        font-weight: 500;
        font-size: 24px;
        justify-content: center;
    }
    .AdminEditProjectModal__content-regJury__inputs{
        width: 260px;
    }
    .AdminEditProjectModal__content-regJury button{
        width: 240px;
        font-size: 24px;
    }
}