*,
*before,
*after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul,
ol,
li {
    list-style: none;
}

img {
    list-style: none;
}

input {
    list-style: none;
    padding: 0;
    margin: 0;
    border: 0;
    border: none;
    border: none;
    background-image: none;
    background-color: transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: inherit;
}

html,
body {
    position: relative;
    height: 100%;
}

body {
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    margin: 0;
    padding: 0;
    background-color: #F3F3F3;
}


.AdminEditProject {
    width: 89.5%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding-top: 40px;
}

.AdminEditProject h1 {
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 77px;
    color: #000000;
    margin: 0;
}
::-webkit-scrollbar-button {
    display: none;
}
.AdminEditProject__pullProject {
    width: 100%;
    height: 496px;
    overflow-y: scroll;
}

.AdminEditProject__pullProject::-webkit-scrollbar-button {
    display: none;
}
.AdminEditProject__Buttons{
    display: flex;
    margin-top: 30px;
    width: 100%;
    justify-content: space-between;
}
.AdminEditProject__Buttons > button {
    align-self: flex-end;
    width: 560px;
    height: 66px;
    background: #E21A1A;
    border: none;
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 42px;
    text-align: center;
    color: #FFFFFF;
    cursor: pointer;
}
.AdminEditProject__buttons-leftbt{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none !important;
    width: 560px;
    height: 66px;
    background: #E21A1A;
    border: none;
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 42px;
    text-align: center;
    color: #FFFFFF !important;
    cursor: pointer;
}
.AdminEditProject__Buttons > button:hover{
    background: #c90916;
}
@media (max-width:1470px){
    .AdminEditProject__Buttons{
        margin-top: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
@media (max-width: 1470px){
    .AdminEditProject__Buttons > button{
        align-self: center;
        margin-right: 0px;
        margin-top: 30px;
    }
}
@media (max-width: 760px){

    .AdminEditProject{
        padding-top: 0px;
    }
}
@media (max-width: 680px){
    .AdminEditProject__Buttons > button{
        width: 320px;
        font-size: 18px;
    }
}
@media (max-width: 500px){
    .AdminEditProject__Buttons > button{
        width: 280px;
    }
    .AdminEditProject{
        padding-top: 0px;
    }
    .AdminEditProject__pullProject{
        height: 450px;
    }
}
@media (max-width: 460px){
    
    .AdminEditProject{
        padding-top: 0px;
        margin-top: -54px;
    }
}


