.AddCriteriaModal{
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color:   rgba(0, 0, 0, 0.4);
    transform: scale(0);
}

.AddCriteriaModal.active{
    transform: scale(1);
}

.AddCriteriaModal__content{
    background-color: #FFFFFF;
    width: 1500px;
    height: 579px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.AddCriteriaModal__content h1{
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 62px;
    display: flex;
    align-items: center;
    color: #000000;
    margin: 80px 0 22px 0 ;
    align-self: flex-start;
}

.AddCriteriaModal__content-regJury__inputs{
    width: 1310px;
        height: 212px;
        display: flex;
        justify-content: space-between;
}

.AddCriteriaModal__content-regJury__inputs input{
        width: 566px;
        height: 70px;
        background: #FFFFFF;
        display: flex;
        border: none;
        margin-top: 34px;
        border-bottom: 2px solid #394A58;
        flex-direction: column;
        align-items: center;
    }
    .AddCriteriaModal__content-regJury__inputs select{
        width: 566px;
        height: 70px;
        background: #FFFFFF;
        display: flex;
        margin-top: 34px;
        flex-direction: column;
        align-items: center;
        border: none;
        outline: none;
        border-bottom: 2px solid #394A58;
    }

.AddCriteriaModal__content button{
    width: 566px;
    height: 66px;
    background: #E21A1A;
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 42px;
    text-align: center;
    color: #FFFFFF;
    border: none;
    align-self: flex-end;
    margin-top: 65px;
    cursor: pointer;
}

.AddCriteriaModal__content-container{
    width: 1310px;
    display: flex;
    flex-direction: column;
}
@media (max-width: 1570px){
    .AddCriteriaModal__content{
        width: 700px;
        height: 700px;
    }
    .AddCriteriaModal__content-container{
        width: 650px;
        height: 700px;
    }
    .AddCriteriaModal__content h1{
        align-self: center;
        font-size: 40px;
        margin: 40px 0px 100px 0px;
    }
    .AddCriteriaModal__content-regJury__inputs{
        width: 650px;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    .AddCriteriaModal__content-regJury__inputs input{
        width: 500px;
        height: 45px;
    }
    .AddCriteriaModal__content button{
        align-self: center;
        margin-top: 160px;
    }
}
@media (max-width: 730px){
    .AddCriteriaModal__content{
        width: 350px;
        height: 600px;
    }
    .AddCriteriaModal__content-container{
        width: 300px;
        height: 600px;
    }
    .AddCriteriaModal__content h1{
        align-self: center;
        font-size: 30px;
        margin: 40px 0px;
    }
    .AddCriteriaModal__content-regJury__inputs{
        width: 300px;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    .AddCriteriaModal__content-regJury__inputs input{
        width: 200px;
        height: 30px;
    }
    .AddCriteriaModal__content button{
        align-self: center;
        margin-top: 100px;
        width: 250px;
        height: 45px;
        font-size: 22px;
    }
}