.Crit {
    margin-bottom: 32px;
    width: 100%;
    background: #FFFFFF;
    border-bottom: 1px solid #CCCCCC;
}
.Crit__container {
    height: 70px;
    padding: 0 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.Crit__text {
    display: flex;
    width: 48%;
    justify-content: space-between;
}
.Crit__text p {
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 25px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
    margin-left: 10px;
}

.Crit__text span {
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 25px;
    margin-left: 15px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
}
.Crit__text-spans{
    display: flex;
}
@media (max-width: 1100px){
    .Crit__text span{
        font-size: 20px;
    }
    .Crit__text p{
        font-size: 16px;
    }
    
    .Jury__button {
        font-size: 18px;
        height: 35px;
    }
    
}
@media (max-width: 850px){
    .Crit__text{
        width: 60%;
    }
}
@media (max-width: 680px){
    .Crit__container{
        padding: 0px 5px;
    }
    .Crit__text{
        width: 58%;
    }
    .Crit__text span{
        font-size: 16px;
    }
    .Crit__text p{
        font-size: 14px;
    }
    .Jury__button{
        font-size: 16px;
        height: 35px;
    }
}
@media (max-width: 500px){
    .Crit__text{
        width: 64%;
    }
    .Crit__text span{
        font-size: 14px;
    }
    .Crit__text p{
        font-size: 12px;
    }
    .Jury__button{
        font-size: 12px;
        height: 30px;
    }
}
@media (max-width: 390px){
    .Crit__text{
        width: 60%;
    }
    .Crit__text span{
        font-size: 12px;
    }
    .Crit__text p{
        font-size: 10px;
    }
}