body{
    background: #F3F3F3;
}
.buttons_jury_meet{
    display: flex;
    justify-content: space-around;
    width: 40%;
    padding: 80px 0px 0px 82px;
}
.jury_meet_button{
    color: black;
    background: none;
    text-align: center;
    padding: 7px 7px;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 400;
    font-size: 30px;
    border-bottom: solid 3px #F3F3F3;

}
.jury_meet_button:hover{
    border-bottom: solid 3px #E21A1A;
}
.activeBTN{
    border-bottom: solid 3px #E21A1A;
}
.page{
    position: absolute;
}
.page-enter-active{
    animation: fade-in 1s forwards;
}
.page-exit-active{
    animation: fade-out 1s forwards;
}
.page{
    position: absolute;
}
@keyframes fade-in{
    0%{
        opacity: 0;
        transform: translateX(-400px);
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}
@keyframes fade-out {
    0%{
        opacity: 1;
        transform: translateX(0);
    }
    100%{
        transform: translateX(100%);
        opacity: 0;
    }
}