body,html{
}
/* .Result{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
} */
.container{
    /* width: 200vw; */
    margin-top: -150px;
}
.Result__table__pdf{
    width: auto;
    margin-top: -150px;
}
.Result__header{
    display: flex;
}
.Result__header-number{
    min-width: 2.5%;
    max-width: 2.5%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #E21A1A;
    border: 2px solid #000000;
}

.Result__header-number span{
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 31px;
    
    color: #FFFFFF;
}
.Result__header-projectName span{
    
    display: flex;
        align-items: center;
        text-align: center;
        color: #FFFFFF;
        margin: 0px auto;
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 31px;
    
}

.Result__header-projectName {
    min-width: 18.63%;
    max-width: 18.63%;
    display: flex;
    align-items: center;
    text-align: center;
    background-color: #E21A1A;
    border: 2px solid #000000;
}

.CriteriaHead span {
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
}
.Result__header__itog span {
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 31px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
}

.Result__header__itog {
    min-width: 18.63%;
    max-width: 18.63%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #E21A1A;
    border: 2px solid #000000;
}
.TableTr{
    display: flex;
    height: 78px;
}
.TableTr-number{
    min-width: 2.5%;
    max-width: 2.5%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F3F3F3;
    border: 2px solid #000000;
}
.TableTr-projectName {
    min-width: 18.63%;
    max-width: 18.63%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F3F3F3;
    border: 2px solid #000000;
}
.TableTr-result{
    min-width: 18.63%;
    max-width: 18.63%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F3F3F3;
    border: 2px solid #000000;
}

@media (max-width: 1800px) {
    .CriteriaHead span{
        font-size: 20px;
    }
    .Result__header__itog span{
        font-size: 20px;
    }
    .Result__header-projectName span{
        font-size: 20px;
    }
    .Result__header-number span{
        font-size: 20px;
    }

}
@media (max-width: 1300px) {
    .CriteriaHead span{
        font-size: 16px;
    }
    .Result__header__itog span{
        font-size: 16px;
    }
    .Result__header-projectName span{
        font-size: 16px;
    }
    .Result__header-number span{
        font-size: 16px;
    }

}
@media (max-width: 1000px) {
    .CriteriaHead span {
        font-size: 12px;
    }

    .Result__header__itog span {
        font-size: 12px;
    }

    .Result__header-projectName span {
        font-size: 12px;
    }

    .Result__header-number span {
        font-size: 12px;
    }
}
@media (max-width: 900px){
    .CriteriaHead span {
            font-size: 9px;
            line-height: 10px;
        }
    
        .Result__header__itog span {
            font-size: 9px;
            line-height: 10px;
        }
    
        .Result__header-projectName span {
            font-size: 9px;
            line-height: 10px;
        }
    
        .Result__header-number span {
            font-size: 9px;
        }
        .TableTr-projectName{
            font-size: 9px;
        }
        .CriteriaTable{
            font-size: 9px;
        }
        .TableTr-result{
            font-size: 9px;
        }
        .TableTr-number{
            font-size: 9px;
        }
}
@media (max-width: 650px) {
    .CriteriaHead span{
        font-size: 4px;
        line-height: 8px;
    }
    .Result__header__itog span{
        font-size: 5px;
    }
    .Result__header-projectName span{
        font-size: 5px;
    }
    .Result__header-number span{
        font-size: 5px;
    }
    .TableTr-projectName {
            font-size: 6px;
    }
    
    .CriteriaTable {
            font-size: 6px;
    }
    
    .TableTr-result {
            font-size: 6px;
    }
    
    .TableTr-number {
            font-size: 6px;
    }
    .Result__header-number{
        border: 1px solid #000000;
        }
    .Result__header-projectName{
        border: 1px solid #000000;
        }
    .Result__header__itog{
        border: 1px solid #000000;
        }
    .TableTr-number{
        border: 1px solid #000000;
    }
    .TableTr-projectName{
        border: 1px solid #000000;
    }
    .TableTr-result{
        border: 1px solid #000000;
    }
    .CriteriaHead{
        border: 1px solid #000000;
    }
    .CriteriaTable{
        border: 1px solid #000000;
    }
}
