*,
*before,
*after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul,
ol,
li {
    list-style: none;
}

img {
    list-style: none;
}

input {
    list-style: none;
    padding: 0;
    margin: 0;
    border: 0;
    border: none;
    border: none;
    background-image: none;
    background-color: transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: inherit;
}

html,
body {
    position: relative;
    height: 100%;
}

.PasswordRecovery{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFFFFF;
}

.PasswordRecovery__block{
    width: 1101px;
    height: 755px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.PasswordRecovery__block h1{
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 58px;
    color: #000000;
    margin: 0 0 120px 0;
}

.PasswordRecovery__block input{
    width: 1001px;
    height: 114px;
    background: #FFE600;
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 58px;
    color: #000000;
}

.PasswordRecovery__block input:nth-child(3n){
    margin-top: 78px;
}

.PasswordRecovery__block span{
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 58px;
    color: #000000;
    margin: 24px 0 89px 0;
}

.PasswordRecovery__block button{
    height: 100px;
    background: #FF0000;
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 58px;
    color: #FFFFFF;
    border: none;
}