.AdminMeet {
    width: 89.5%;
    margin: -110px auto 0px auto;
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    align-items: center;
}

.AdminMeet h1 {
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 62px;
    display: flex;
    align-items: center;
    color: #000000;
    margin: 0 0 50px 0;
    align-self: flex-start;
}

.AdminMeet__ProjektPull {
    width: 100%;
    height: 664px;
    overflow-y: scroll;
}

.AdminMeet__button-done{
    width: 560px;
    height: 66px;
    background: #E21A1A;
    border: none;
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 42px;
    text-align: center;
    color: #FFFFFF;
    margin-right: 100px;
    margin-top: 40px;
}
.AdminMeet > button {
    width: 560px;
    height: 66px;
    background: #E21A1A;
    border: none;
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 42px;
    text-align: center;
    color: #FFFFFF;
}
.AdminMeet > button:hover{
    background: #c90916;
}
@media (max-width: 1470px){
    .AdminMeet h1{
        align-self: center;
    }
    .AdminMeet__button-done{
        margin-right: 0px;
    }
}
@media (max-width: 680px){
    .AdminMeet{
        padding: 0;
        margin-top: -150px;
    }
    .AdminMeet h1{
        font-size: 38px;
    }
    .AdminMeet > button{
        width: 320px;
    }
    .AdminMeet__button-done{
        font-size: 20px;
        width: 330px;
    }
}
@media (max-width: 500px){
    .AdminMeet h1{
        font-size: 32px;
    }
    .AdminMeet > button{
        width: 280px;
        font-size: 26px;
    }
}