.EventProject {
    min-height: 100px;
    margin-bottom: 32px;
    width: 100%;
    background: #FFFFFF;
    border-bottom: 1px solid #CCCCCC;
}


.EventProject__container {
    height: 100px;
    padding: 0 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.EventProject__text {
    display: flex;
    width: 48%;
    justify-content: space-between;
}

.EventProject__text-spans {
    display: flex;
}

.EventProject__text p {
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 31px;
    display: flex;
    align-items: center;
    color: #000000;
}

.EventProject__text span {
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 36px;
    margin-left: 15px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
}


.EventProject__buttons {
    display: flex;
    justify-content: space-between;
}

.EventProject__buttons {
    display: flex;
    justify-content: space-between;
}

.EventProject__buttons.active{
    display: flex;
    justify-content: space-between;
    padding-right: 155px;
    border: none;
}

.EventProject__buttons-1 {
    width: 356px;
    height: 50px;
    background: #E21A1A;
    border: none;
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    line-height: 34px;
    text-align: center;
    color: #FFFFFF;
}

.EventProject__Jurrypull{
    height: 200px;
    width: 100%;
    background: #FFFFFF;
    border-top: 1px solid #CCCCCC;
}

.EventProject__Jurrypull-container{
    overflow-y: scroll;
    height: 200px;
    padding: 0 50px;
}

.EventProject__Jurrypull-container::-webkit-scrollbar {
    width: 0;
}

.EventProjecthidden{
    display: none !important;
}
.EventProject__buttons-3{
    width: 30px;
    height: 30px;
}
.EventProject__buttons-3.active {
    width: 30px;
    height: 30px;
    border: none;
    transform: rotate(180deg);
}
.EventProject__buttons-2 {
    width: 440px ;
    height: 45.59px ;
    background: #F3F3F3 ;
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 26px ;
    line-height: 34px ;
    text-align: center;
    color: #E21A1A ;
    border: none;
}
@media (max-width: 1200px){
    .EventProject__buttons-1{
        width: 240px;
        font-size: 18px;
    }
    .EventProject__buttons.active{
        padding-right: 100px;
    }
}
@media (max-width: 960px){
    .EventProject__buttons-1{
        width: 180px;
        font-size: 16px;
    }
    .EventProject__text p{
        margin-right: 8px;
    }
}
@media (max-width: 830px){
    .EventProject__buttons-1{
        width: 150px;
        font-size: 14px;
    }
    .EventProject__buttons.active{
        padding-right: 50px;
    }
}
@media (max-width: 500px){
    .EventProject__buttons-1{
        width: 120px;
        height: 30px;
        font-size: 11px;
    }
}
@media (max-width: 390px){
    .EventProject__container{
        padding: 0 15px !important;
    }
    .EventProject__buttons-1{
        width: 100px;
        font-size: 9px;
    }
    .EventProject__buttons.active{
        padding-right: 25px !important;
    }
    .EventProject__text span{
        margin-left: 0px !important;
        margin-right: 10px;
    }
    .EventProject__txt-span{
        margin-right: 0px !important;
    }
}