.Jury {
    height: 100px;
    margin-bottom: 32px;
    width: 100%;
    background: #FFFFFF;
}


.Jury__container {
    height: 100%;
    padding: 0 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Jury__text {
    display: flex;
    width: 48%;
    justify-content: space-between;
}

.Jury__text-spans {
    display: flex;
}

.Jury__text p {
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 31px;
    display: flex;
    align-items: center;
    color: #000000;
}

.Jury__text span {
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 36px;
    margin-left: 15px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
}


.Jury__button {
    width: 230px;
    height: 50px;
    background: #F3F3F3;
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    line-height: 34px;
    text-align: center;
    color: #E21A1A;
    border: none;
    cursor: pointer;
}
@media (max-width: 1050px){
    .Jury__text span{
        font-size: 24px;
    }
    .Jury__text p{
        font-size: 22px;
    }
    .Jury__button{
        font-size: 22px;
    }
}
@media (max-width: 890px){
    .Jury__text span{
        font-size: 20px;
    }
    .Jury__text p{
        font-size: 18px;
    }
    .Jury__button{
        font-size: 18px;
    }
}
@media (max-width: 760px){
    .Jury__text{
        width: 62%;
    }
    .Jury__button{
        width: 130px;
    }
}
@media (max-width: 590px){
    .Jury__text span{
        font-size: 16px;
    }
    .Jury__text p{
        font-size: 14px;
    }
    .Jury__button{
        font-size: 14px;
    }
    .Jury__container{
        padding: 0 20px;
    }
}
@media (max-width: 460px){
    .Jury__button{
        width: 100px;
    }
    .Jury__text{
        width: 68%;
    }
}
@media (max-width: 400px){
    .Jury__button{
        width: 80px;
    }
    .Jury__text span{
        font-size: 14px;
    }
    .Jury__text p{
        font-size: 12px;
    }
    .Jury__button{
        font-size: 12px;
    }
    .Jury__container{
        padding: 0 10px;
    }
}
@media (max-width: 320px) {
    .Jury__text span{
        font-size: 12px;
        line-height: 15px !important;
    }
    .Jury__text p{
        font-size: 12px;
        line-height: 15px !important;
        margin-left: 8px;
    }
}