.ProjectJury {
    height: 100px;
    width: 100%;
    background: #FFFFFF;
    border-bottom: 1px solid #CCCCCC;
}


.ProjectJury__container {
    height: 100%;
    padding: 0 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ProjectJury__text {
    display: flex;
    width: 48%;
    justify-content: space-between;
}

.ProjectJury__text-spans {
    display: flex;
}

.ProjectJury__text p {
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 34px;
    display: flex;
    align-items: center;
    color: #394A58;
}

.ProjectJury__text span {
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 34px;
    display: flex;
    align-items: center;
    color: #394A58;
    margin-left: 15px;
}
.ProjectJury__text span:nth-child(2){
    margin-left: 15px;
}

.ProjectJury__indicator{
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 34px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #394A58;
}
