.Event {
    height: 200px;
    margin-bottom: 32px;
    width: 100%;
    background: #FFFFFF;
    border-bottom: 1px solid #CCCCCC;
}


.Event__container {
    height: 100%;
    padding: 0 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Event__text {
    display: flex;
    width: 48%;
    justify-content: space-between;
}

.Event__text-spans {
    display: flex;
}

.Event__text p {
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 31px;
    display: flex;
    align-items: center;
    color: #000000;
}

.Event__text span {
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 36px;
    margin-left: 15px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
}


.Event__buttons {
    height: 130px;
    width: 330px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.Event__buttons button:nth-child(1){
    width: 100%;
    height: 50px;
    background: #E21A1A;
    border: none;
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    line-height: 34px;
    text-align: center;
    color: #FFFFFF;
    cursor: pointer;
}
.Event__buttons button:nth-child(1):hover{
    background: #c90916;
}
.Event__button-edit {
    width: 100%;
    height: 50px;
    background: #F3F3F3 !important;
    border: none;
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    line-height: 34px;
    text-align: center;
    color: #E21A1A !important;
    cursor: pointer;
}
.Event__button-edit:hover{
    background: #CFCFCF !important;
}
@media (max-width: 1100px){
    .Event__text span{
        font-size: 20px;
    }
    .Event__text p{
        font-size: 16px;
    }
    .Event__buttons{
        width: 180px;
        height: 100px;
    }
    .Event__buttons button:nth-child(1){
        font-size: 18px;
        height: 35px;
    }
    .Event__button-edit{
        font-size: 18px;
        height: 35px;
    }
}
@media (max-width: 850px){
    .Event__text{
        width: 60%;
    }
}
@media (max-width: 680px){
    .Event__container{
        padding: 0px 5px;
    }
    .Event__text{
        width: 58%;
    }
    .Event__text span{
        font-size: 16px;
    }
    .Event__text p{
        font-size: 14px;
    }
    .Event__buttons{
        width: 130px;
        height: 100px;
    }
    .Event__buttons button:nth-child(1){
        font-size: 16px;
        height: 35px;
    }
    .Event__button-edit{
        font-size: 16px;
        height: 35px;
    }
}
@media (max-width: 500px){
    .Event__text{
        width: 64%;
    }
    .Event__text span{
        font-size: 14px;
    }
    .Event__text p{
        font-size: 12px;
    }
    .Event__buttons{
        width: 110px;
        height: 80px;
    }
    .Event__buttons button:nth-child(1){
        font-size: 12px;
        height: 30px;
    }
    .Event__button-edit{
        font-size: 12px;
        height: 30px;
    }
}
@media (max-width: 390px){
    .Event__container{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .Event__text{
        width: 75%;
    }
    .Event__text span{
        font-size: 12px;
        margin-left: 0px;
    }
    .Event__text p{
        font-size: 10px;
    }
}
